/* Cambiar color de fondo */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Títulos más llamativos */
h1 {
    color: rgb(202, 202, 218);
    text-align: center;
}

/* Enlaces */
a {
    color: rgb(16, 17, 16);
    text-decoration: none;
}

a:hover {
    color: rgb(15, 14, 14);
}


